/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// key codes from
// https://github.com/zmkfirmware/zmk/blob/main/app/include/dt-bindings/zmk/keys.h

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// These override the MAX velocities
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500 // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20 // default: 10

#include <dt-bindings/zmk/pointing.h>

#define MAIN    0
#define SYM     1
#define NAV     2
#define NUM     3
#define FUN     4
#define GM1     5
#define GM2     6
#define MOZ     7

/ {

    behaviors {
        // from https://zmk.dev/docs/keymaps/behaviors/hold-tap#option-2-tap-preferred
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

         bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;    // <---[[moderate duration]]
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };   
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
//                       |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |  \   |
//  | NAV |  LGUI/A  |  LALT/R  |  LCTL/S  |  LSHIFT/T  |  G  |   |  M  |  RHSIFT/N   |  RCTL/E  | RALT/I  |  RGUI/O  |  '   |
//                  | CAPS WORD |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | GM1  |
//                              | FUN/ESC | LSHIFT | SYM/BSPC |   | SYM/ENT | SPACE  | MOUSE |
        display-name = "main";
        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMICOLON    &kp BSLH
   &mo NAV &hm LGUI A &hm LALT R &hm LCTL S &hm LSHIFT T &kp G   &kp M &hm RSHIFT N  &hm RCTL E &hm RALT I   &hm RGUI O    &kp SQT
   &caps_word &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &mo GM1
                  &lt FUN ESC &kp LSHIFT &lt NUM BSPC   &lt SYM RET &kp SPC &mo MOZ
            >;
        };

        symbol_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "sym";
            bindings = <
   &kp TAB    &kp GRAVE       &kp UNDER       &kp LT       &kp GT       &kp DOLLAR         &kp AMPS &kp LBKT   &kp RBKT &kp PRCT    &kp COLN &kp DEL
   &trans     &bhm LGUI PLUS   &bhm LALT MINUS  &bhm LCTL HASH &kp QMARK &kp BANG   &kp TILDE &kp LPAR  &bhm RCTL RPAR &bhm RALT COLN   &bhm RGUI COLN    &trans
   &trans &kp BSLH &kp PIPE &kp STAR &kp AT &kp CRRT &kp EQL   &kp LBRC   &kp RBRC &kp DOT    &kp SLASH &trans
                                    &trans &trans &trans &trans &trans &trans
                >;
            };

        nav_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "nav";
            bindings = <
    &trans &trans   &trans   &trans   &trans      &trans      &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
    &trans &kp LGUI &kp LALT &kp LCTL &kp LSHIFT  &trans      &kp H &kp J &kp K  &kp L &trans &trans
    &trans &trans &trans &trans &trans &kp CRRT   &kp DLLR    &kp HOME &kp END &kp DLLR &trans &trans
                                &trans &trans     &trans      &trans   &trans  &trans 
                >;
            };
                
        num_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "num";
            bindings = <
    &trans &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp F20 &kp KP_SLASH   &kp KP_PLUS &kp N7 &kp N8 &kp N9 &kp KP_PLUS &kp KP_MINUS
    &trans &bhm LGUI C_STOP &bhm LALT C_PREV &bhm LCTL C_NEXT &bhm LSHIFT C_PP &kp KP_MULTIPLY   &kp KP_MINUS &kp N4 &kp N5 &kp N6 &kp COLN &kp KP_SLASH
    &trans &trans &trans &trans &trans &kp KP_DOT   &kp KP_EQUAL &kp N1 &kp N2 &kp N3 &kp KP_DOT &trans
                         &trans &trans &trans   &kp BSPC &trans &kp N0
            >;
        };
                
        function_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "func";
            bindings = <
    &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &trans   &trans &kp F7 &kp F8 &kp F9 &kp F10 &trans
    &trans &trans &bt BT_CLR &bt BT_PRV &bt BT_NXT &trans   &trans &kp F4 &kp F5 &kp F6 &kp F11 &trans
    &trans &trans &trans &trans &trans &trans   &trans &kp F1 &kp F2 &kp F3 &kp F12 &trans
                         &trans &trans &trans   &trans &trans &trans 
            >;
        };

        gaming_layer_one {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "GAMES";
            bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };

        gaming_layer_two {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "GAMES 2";
            bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };

        mouse_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
            display-name = "maus";
            bindings = <
    &trans &trans &trans &mmv MOVE_UP &msc SCRL_UP &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans   &trans &mkp LCLK &mkp RCLK &mkp MCLK &trans &trans
    &trans &trans &trans &trans &msc SCRL_DOWN &trans   &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans   &trans &trans &trans 
            >;
        };
        
        blank_layer {
            display-name = "blank";
            bindings = <
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans   &trans &trans &trans 
            >;
        };
    };
};
